body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-header {
    color: white;
    background-color: #f5f8fa;
    padding: 13vh 20px 0;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2834;
}

.app-title {
    flex: 1;
    font-size: 50px;
}

.app-sub-title {
    flex: 1;
    font-size: 30px;
}

.down {
    font-size: 100px;
    margin: 0 auto;
    flex: 2;
    color: #00FFF4;
    transition: all .2s ease-in-out;
    background: transparent;
    outline:none;
    border: none;
    max-height: 230px;
}

.down:hover {
    color: #23527c;
    transform: scale(1.1);
}

.container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.promo-image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.section-dark .section-heading {
    text-align: center;
    padding: 20px;
    color: white;
}


.section-light .section-heading {
    color: black;
    text-align: center;
    padding: 20px;
}

.article-heading {
    color: #00FFF4;
}

.section-dark .article-content {
    color: #C5C6C8;
}

.section-light{
    min-height: 100vh;
    padding-bottom: 50px;
    display: inline-block;
    width: 100%;
    background-color: #f5f8fa;
    color: black;
}

.section-dark {
    min-height: 100vh;
    padding-bottom: 50px;
    display: inline-block;
    width: 100%;
    background-color: #1F2834;
}

.section-dark article {
    color: white;
}

hr {
 display: block;
 height: 1px;
 border: 0;
 border-top: 1px solid #00FFF6;
 margin: 6em 0;
 padding: 0;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
}

.footer-social svg{
    font-size: 20px;
    margin: 0 16px;
}

footer a, footer a:visited {
    color: black;
    animation-iteration-count: 1;
}

footer a:hover {
 color: #1F2834;
 animation: 0.7s multicolor;
}

@keyframes multicolor {
    0% {
        color: black;
    }
    30% {
        color: #00FFF4;
    }
    80% {
        color: #1F2834;
    }
}

footer {
    display: inline-block;
    width: 100%;
    padding: 49px 22px;
}

.language {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
}


.full-height {
    width: 100%;
    float: left;
}

.center {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

p {
    font-size: 2rem;
}

#avatar {
    background-image: url('./images/avatar.jpg');
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    margin: 22px auto;
    min-height: 150px;
}

#what-i-do {
    padding: 13vh 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#portfolio h4 {
    color: #C5C6C8;
}

.flex {
    flex: 1;
}

#portfolio nav button {
    background: transparent;
    outline: none;
    color: #00FFF4;
    border: none;
}

#portfolio nav button.active {
    text-decoration: underline;
}

#portfolio nav {
    width: 100%;
    padding: 10px;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

/* fonts */

h1 {
  Font-Family: 'Roboto', Sans-Serif;
  Font-Size: 48px;
}

h2 {
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 30px;
}

h3 {
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 20px;
}

p {
 Font-Family: 'Lora', Serif;
 Font-Size: 14px;
}

.width {
   max-width: 640px;
}

@media all and (min-width:768px) {

    #portfolio .section-heading {
        padding: 2em 0;
    }

    article {
      margin: 50px auto;
    }

}

@media all and (max-width:767px) {

    .app-header, h1 {
        padding: 5vh 20px 0;
    }

    .app-title h2{
        font-size: 30px;
    }

    h3 {
        font-size: 17px;
        line-height: 28px;
    }

    .app-sub-title {
        font-size: 25px;
    }

    .down {
        flex: 1;
        font-size: 80px;
    }

    footer {
        text-align: center;
    }

    .footer-social {
        justify-content: center;
        margin-top: 40px;
    }

}

