body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-header {
  color: white;
  padding: 13vh 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f2834;
}

.app-title {
  flex: 1;
  font-size: 50px;
}

.app-sub-title {
  flex: 1;
  font-size: 30px;
}

.down,
.up {
  font-size: 100px;
  margin: 0 auto;
  flex: 2;
  color: #00fff4;
  transition: all 0.2s ease-in-out;
  background: transparent;
  outline: none;
  border: none;
  max-height: 230px;
  width: 114px;
}

.down:hover,
.up:hover {
  color: #23527c;
  transform: scale(1.1);
}

.up {
  color: #00fff4;
  font-size: 100px;
  margin: 20px;
}

.container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.promo-image-modal {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.section-dark .section-heading {
  text-align: center;
  color: white;
}

.section-light .section-heading {
  color: black;
  text-align: center;
}

.article-heading {
  color: #00fff4;
}

.tags {
  color: #9ea0a5;
  font-size: 12px;
}

.tags span {
  color: #c5c6c8;
  margin-left: 5px;
}

.section-dark .article-content {
  color: #c5c6c8;
}

.section-light {
  min-height: 100vh;
  padding-bottom: 50px;
  display: inline-block;
  width: 100%;
  background-color: #f5f8fa;
  color: black;
}

.section-dark {
  padding-bottom: 50px;
  display: inline-block;
  width: 100%;
  background-color: #1f2834;
  position: relative;
}

.section-dark article {
  color: white;
}

hr {
  display: block;
  height: 1px;
  border: 0;

  margin: 6em 0;
  padding: 0;
}

.footer-social {
  display: flex;
}

.footer-social svg {
  font-size: 20px;
  margin: 0 16px;
}

footer a,
footer a:visited {
  color: black;
  animation-iteration-count: 1;
}

footer a:hover {
  color: #1f2834;
  animation: 0.7s multicolor;
}

@keyframes multicolor {
  0% {
    color: black;
  }
  30% {
    color: #00fff4;
  }
  80% {
    color: #1f2834;
  }
}

footer {
  display: inline-block;
  width: 100%;
  padding: 49px 22px;
}

.language {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
}

.full-height {
  height: 100%;
  float: left;
}

.full-width {
  width: 100%;
  float: left;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

p {
  font-size: 2rem;
}

#avatar {
  background-image: url('./images/avatar.jpg');
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  margin: 22px auto;
  min-height: 150px;
}

#what-i-do {
  padding: 13vh 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#portfolio h4 {
  color: #c5c6c8;
}

.flex {
  flex: 1;
}

#portfolio nav button {
  float: right;
  background: transparent;
  outline: none;
  color: #acadae;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

#portfolio nav button.active {
  color: white;
}

.width {
  max-width: 1200px;
}

.open-item {
  padding: 0;
}

.open-item img {
  border-radius: 6px;
}

.modal-body {
  background: transparent;
  padding: 0;
}

.modal-backdrop {
  opacity: 0.8;
}

.modal-content {
  background: transparent;
  box-shadow: none;
  border: none;
}

.modal-dialog {
  max-width: 70vw;
  width: 100%;
  padding: 20px;
}

.up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

.home {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #00fff4;
  padding: 0;
  z-index: 2;
}
.home h4 {
  padding: 0;
  margin: 0;
}

/* fonts */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', Serif;
  font-size: 18px;
  line-height: 28px;
}

.privacy-container {
  padding: 32px;
  margin: 0 auto;
  max-width: 1100px;
}
