body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app-header {
   background-color: #f5f8fa;
   padding: 23vh 20px;
   color: black;
   border: 1px solid rgba(0,0,0,.125);
   text-align: center;
}

.app-title {
  font-size: 50px;
}

.app-sub-title {
  font-size: 30px;
}

.container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

article {
  margin: 50px auto;
}

.promo-image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.section-dark .section-heading {
    text-shadow: 1px 1px #00FFF4;
  text-align: center;
  padding: 2em;
  color: white;
}


.section-light .section-heading {
    text-shadow: 1px 1px #00FFF4;
    color: black;
    text-align: center;
    padding: 2em;
}

.article-heading {
    color: #00FFF4;
}

.section-dark .article-content {
    color: #C5C6C8;
}

.section-light{
    padding-bottom: 50px;
    display: inline-block;
    width: 100%;
    background-color: #f5f8fa;
    color: black;
}


.section-dark {
    padding-bottom: 50px;
    display: inline-block;
    width: 100%;
    background-color: #1F2834;
}

.section-dark article {
    color: white;
}

hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #00FFF6;
   margin: 6em 0;
   padding: 0;
}

.footer-social svg{
    float: right;
    font-size: 20px;
    margin: 0 16px;
}

footer a, footer a:visited {
    color: black;
   animation-iteration-count: 1;
}

footer a:hover {
   color: #1F2834;
   animation: 0.7s multicolor;
}

@keyframes multicolor {
    0% {
        color: black;
    }
    30% {
        color: #00FFF4;
    }
    80% {
        color: #1F2834;
    }
}

footer {
    display: inline-block;
    width: 100%;
    padding: 49px 22px;
}

.language {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.full-height {
    width: 100%;
    float: left;
}
.center-text {
    text-align: center;
}

p {
    font-size: 2rem;
}
