@media all and (min-width: 768px) {
  .footer-social {
    justify-content: flex-end;
  }

  .full-height {
    padding: 0 0 140px 0;
  }

  #portfolio .section-heading {
    padding: 43px 0 100px 0;
  }

  .tags {
    margin-top: 60px;
  }

  article {
    margin: 50px auto;
  }

  .full-screen {
    height: 50vh;
    width: 100%;
  }


  .promo-image {
    max-width: 400px;
    margin: 0 auto;
    max-height: 300px;
    width: 100%;
    display: block;
  }

  .article-heading {
    margin-bottom: 50px;
    margin-top: 0;
  }

  .up {
    display: none;
  }

  #portfolio nav {
    transform: rotate(-90deg);
    margin-top: 279px;
    margin-left: -300px;
    position: absolute;
    width: 500px;
  }
}
