body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app-header {
   background-color: #f5f8fa;
   padding: 62px;
   color: black;
   border: 1px solid rgba(0,0,0,.125);
   text-align: center;
}

.app-title {
  font-size: 50px;
}

.app-sub-title {
  font-size: 30px;
}

.container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

article {
  margin: 50px auto;
}

.promo-image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.section-heading {
  text-align: center;
  padding: 2em;
  color: white;
}

.section-heading-dark {
    color: black;
    text-align: center;
    padding: 2em;
}

.article-heading {
    color: #00FFF4;
}

.article-content {
    color: #C5C6C8;
}

.section-light{
    display: inline-block;
    width: 100%;
    background-color: #f5f8fa;
    color: black;
}


.section-dark {
    display: inline-block;
    width: 100%;
    background-color: #1F2834;
}

hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #00FFF6;
   margin: 6em 0;
   padding: 0;
}

.footer-social svg{
    float: right;
    font-size: 20px;
    margin: 0 16px;
}

footer {
    display: inline-block;
    width: 100%;
    padding: 49px 22px;
}

.language {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.full-height {
    width: 100%;
    float: left;
}
