body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app-header {
  background-color: #f5f8fa;
  height: 150px;
  padding: 20px;
  color: black;
  border: 1px solid rgba(0,0,0,.125);
  text-align: center;
}

.app-title {
  font-size: 1.5em;
}

.app-sub-title {
  font-size: 1.2em;
}

.container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

article {
  max-width: 640px;
  width: 640px;
  margin: 20px auto;
  display: block;
}

.promo-image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.section-heading {
  text-align: center;
  padding: 2em;
}

.section-dark{
    display: inline-block;
    width: 100%;
    background-color: black;
    color: #d7d7d7;
}

.section-light {
    display: inline-block;
    width: 100%;
    background-color: #d7d7d7;
}

.footer-social svg{
    float: right;
    font-size: 20px;
    margin: 0 16px;
}

footer {
    display: inline-block;
    width: 100%;
    padding: 49px 22px;
}

.language {
    position: absolute;
    right: 20px;
    cursor: pointer;
}
